*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.heading{
    height: 50px;
    width: fit-content;
    margin: auto;
    color: rgb(17, 94, 142);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border: 5px solid rgb(4, 76, 134);
    border-radius: 20px;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,200px);
    gap: 10px;
    margin-right: 10px;
    margin-right: 10px;
    margin-top: 0px;
}
.left{
    grid-row: 1/3;
    grid-column: 1/3;
    /* height: 200px;
    width: 400px; */
    color: rgb(9, 80, 29);
    font-size: 100px;
    text-decoration-line: underline;
    text-shadow: 0px 0px 10px rgb(48, 183, 27);
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    /* margin-top: 100px;    
    margin-left: 100px; */
}
.img1{
    grid-row: 1/2;
    grid-column: 4/5;
}
.img2{
    grid-row: 2/3;
    grid-column: 4/5;
}
.img3{
    grid-row: 3/4;
    grid-column: 4/5;
}
.img4{
    grid-row: 4/5;
    grid-column: 3/5;
}
.img5{
    grid-row: 2/4;
    grid-column: 3/4;
}
.img6{
    grid-row: 3/4;
    grid-column: 2/3;
}
.img7{
    grid-row: 4/5;
    grid-column: 2/3;
}
.img8{
    grid-row: 4/5;
    grid-column: 1/2;
}